# HTTP-сервер локально запущенного Go-приложения.
HTTP_PORT=8080

# Внешний адрес, который попадёт в короткую ссылку.
BASE_URL=http://localhost:8080

# При запуске Go на Mac подключаемся
# к опубликованному порту контейнера PostgreSQL.
DATABASE_URL=postgres://postgres:postgres@localhost:5433/shortener?sslmode=disable

# Redis опубликован на стандартный локальный порт.
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL=24h

# При запуске Go на Mac используется внешний listener Kafka.
KAFKA_BROKERS=localhost:29092

# Топик событий ссылок.
KAFKA_TOPIC=link-events